/* custom CSS rules */

/*applies Work Sans font to the body, with a backup of sans-serif*/
body {
    font-family: "Work Sans", sans-serif;
}

/*modifies the text color of anchor elements within the DOM*/

a {
    color: '#214C8C';
}
.legend {
            padding: 6px 8px;
            font-size: 1em;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            width: 130px;
        }
        
        .legend h3 {
            font-size: 1.1em;
            font-weight: bold;
            color: #001323;
            margin: 0 0 10px 0;
        }
        
        .legend span {
            width: 20px;
            height: 20px;
            float: left;
            margin: 0 10px 4px 0;
            border-style: solid;
            border-color: #636363;
            border-width: 1px
        }
        
        .legend label {
            font-size: 1.2em;
        }
        
        .legend label:after {
            content: '  ';
            display: block;
            clear: both;
        }
img {
    max-width: 95%;
    max-height: 95%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}