/* custom CSS rules */

/*applies Work Sans font to the body, with a backup of sans-serif*/
body {
    font-family: "Work Sans", sans-serif;

}

/*modifies the text color of anchor elements within the DOM*/

a {
    color: '#214C8C';
}

img {
    /*max-width: 100%;
    max-height: 100%;
    margin:auto;*/
}

p {
    text-align: justify;
    text-justify: inter-word;
    max-width: 498px;
}
h3{
    max-width: 501px;
}
footer {
    max-width: 501px;
}
.legend-large,
.legend-small {
    border-radius: 50%;
}


/*sets style rules for the lines connecting the values to the symbols in the legend*/

hr.small,
hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px solid #ccc;
    /* overwrite assembly.css rule */
    margin-top: 8px;
    /* overwrite assembly.css rule */
}

#dir{
    border-radius: 10px;
    padding: 3px;
}
.info {
            padding: 6px 8px;
            font-size: 1em;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            text-align: right;
        }
.info h3 {
            margin: 0;
        }